<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabelle | API-Ostseeliga</title>
    <style>
        .display {
			display: flex;
			flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
		}
        a {
			color: black;
			text-decoration: none;
		}
    </style>
</head>
<body >
    <button><a href="/api">Startseite</a></button>
    <h2>Tabelle</h2>
    <div class="display">
        <% data.forEach(element => { %>
            <form action="/api/updateTeam/<%= element.name %>" method="post">
                <h4><%= element.name %></h4>
                <label for="place">Platz:</label>
                <input type="number" name="place" id="place" value="<%= element.place %>"><br>
                <label for="games">Spiele:</label>
                <input type="number" name="games" id="games" value="<%= element.games %>"><br>
                <label for="goals">Tore:</label>
                <input type="number" name="goals" id="goals" value="<%= element.goals %>"><br>
                <label for="ggoals">Gegentore:</label>
                <input type="number" name="ggoals" id="ggoals" value="<%= element.ggoals %>"><br>
                <label for="points">Punkte:</label>
                <input type="number" name="points" id="points" value="<%= element.points %>"><br>
                <button type="submit">Update</button>
            </form>
        <% }) %>
    </div>
</body>
</html>